zcl_device.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="device">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="endpoints">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="endpoint" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="inClusters">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cluster" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="attributes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="attribute" maxOccurs="unbounded" minOccurs="1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="id" use="required"/>
                                              <xs:attribute type="xs:string" name="name" use="optional"/>
                                              <xs:attribute type="xs:string" name="type" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="commands" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="command" maxOccurs="unbounded" minOccurs="1">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="payload" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="type" use="required"/>
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="id" use="required"/>
                                          <xs:attribute type="xs:string" name="name" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="id" use="required"/>
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="outClusters">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cluster">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="attributes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="attribute" maxOccurs="unbounded" minOccurs="1">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="id" use="required"/>
                                              <xs:attribute type="xs:string" name="name" use="optional"/>
                                              <xs:attribute type="xs:string" name="type" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="commands" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="command" maxOccurs="unbounded" minOccurs="1">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="payload" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="id" use="required"/>
                                          <xs:attribute type="xs:string" name="name" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="id" use="required"/>
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:integer" name="id" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>